{% ckan_extends %}

{% block header_account_logged %}
  <li>
    <a href="{{ h.url_for('organization.index') }}" title="{{ _('Organizations') }}">  
        <i class="fas fa-sitemap"></i>
      </a>
  </li>

  <li>
    <a href="{{ h.url_for('group.index') }}" title="{{ _('Groups') }}">  
        <i class="fas fa-folder-open"></i>
      </a>
  </li>

  {{ super() }}
{% endblock %}


{% block header_site_navigation_tabs %}
<ul class="nav nav-pills">
  <li><a href="{{h.url_for('dataset.search')}}">{{ _('Open Data Catalog') }}</a></li>
  {% for page in h.bne_get_pages() %}
  <li><a href="{{ h.url_for('pages.pages_index')+'/'+page.title }}">{{page.title}}</a></li>
  {% endfor %}

  <li><a href="{{h.url_for('home.about')}}">{{ _('Information') }}</a></li>

  <li><a href="{{h.url_for('contact.form')}}">{{ _('Contact') }}</a></li>

  <li><a href="{{h.url_for('pages.blog_index')}}">{{ _('Blog') }}</a></li>

</ul>
{% endblock %}


