{% extends "page.html" %}

{% block primary %}
{% set params = h.get_params_api() %}
{% snippet "bne/snippets/bne_api_pills.html" %}

<div class="primary col-sm-9 col-xs-12" role="main">
    {% snippet 'bne/snippets/bne_entry_card.html' %}
</div>

<aside class="secondary col-sm-3">
    <h2 class="module-heading">
        <i class="fa fa-globe"></i>
        busqueda de dataset
        <a class="action" href="{{h.url_for('bne.base')+'?table='+params.table+'&page=0'}}" style="float: right;">
        limpiar
            <i class="fa fa-trash"></i>
        </a>
    </h2>
    {% snippet "bne/snippets/bne_form.html" %}
</aside>
{% endblock %}
{% block secondary %}
{% endblock %}