{% extends "page.html" %}

{% block primary %}
{% set params = h.bne_get_params_api() %}
{#{% if 'nentries' not in params %}
    {% do params.update({'count':'1'}) %}
    {% set api_response = h.bne_call_api(params) %}
    {% if api_response and api_response.data and api_response.data|length > 0 %}
        {% do params.update({'nentries': api_response.data[0].id}) %}
    {% else %}
        {% do params.update({'nentries': 0}) %}
    {% endif %}
{% endif %}#}

<!-- Iframe incrustado -->
{% set parameters = h.bne_get_params_api() %} 
<div class="iframe-container">
    <iframe id="myIframe" src="{{h.bne_get_bne_api_base_url()}}/consulta/?dataset={{parameters.table}}&view=human" width="100%" height="600" frameborder="0" allowfullscreen scrolling="no" onload="hideElements()"></iframe>
</div>
{% endblock %}

{% block secondary %}
{% endblock %}
