<div class="row fondodestacados">
	<div class="destacados-media-grid" id='ulShowcase'>

	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function inserta(){
	var endpoint = "{{h.url_for('api.action', ver=3, logic_function='ckanext_showcase_list')}}";
	//var endpoint = "{{h.url_for('pages.pages_index')+'/api/3/action/ckanext_showcase_list'}}";
	
	var html = '';
	var settings = {
	  "url": endpoint,
	  "method": "GET",
	  "data": "",
	  "contentType": "application/json"
	}
	
	$.ajax(settings).done(function (data) {
	  $.each(data.result, function (i, item) {	
			var img = "{{ h.url_for('home.index') + 'uploads/showcase/'}}"+item.extras[0].value;
			var url = item.url;
			var name = item.name;
			var titulo = item.title;
			var description = item.notes;
			
			html = html + "<div class='destacados-media-item' >";
			html = html + "<img src='"+img+"' alt='"+name+"' class='destacados-media-image'>";
			html = html + "<h3 class='destacados-media-heading'><a href='"+url+"'>"+titulo+"</a></h3>";
			html = html + "<a href='"+url+"' title='Ver "+titulo+"' class='destacados-media-view' target='ckan'>";
			html = html + "</a>";
			html = html + "</div>";
        });
	  document.getElementById("ulShowcase").innerHTML=html;
	}).fail(function() {
		console.log("ERROR ajax");
	});
	
	
	
}

inserta();
</script>