<div class="row fondodestacados">
	<div class="destacados-media-grid" id='ulShowcase'>
		{% for showcase in h.bne_get_showcase_datasets() %}
			<div class="destacados-media-item">
				<img src="{{ h.url_for_static_or_external(showcase.extras[0].value)}}" alt="{{ showcase.name }}" class="destacados-media-image" >
				<h3 class='destacados-media-heading'><a href="{{ h.url_for('showcase_blueprint.read', id='') + showcase.name }}">{{showcase.title}}</a></h3>
				<a href="{{ h.url_for('showcase_blueprint.read', id='') + showcase.name }}" title='Ver {{showcase.title}}' class='destacados-media-view' target='ckan'></a>
 				<p>{{h.bne_shorten_text(showcase.notes,50)}}</p>
			</div>
		{% endfor %}
	</div>
</div>
