@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.btn {
    background-image: none;
    box-shadow: none;
    border-radius: 15px;
  }
  

/* Header */
.masthead .logo img {
    max-height: 75px;
}

.masthead {
    margin-bottom: initial;
    padding: 10px 0;
    color: #ced4de;
    background-color: #122037!important;
    position: relative;
    padding: 30px 0;
}
    
.masthead::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 8px;
    width: 100%;
    background: repeating-linear-gradient(to right, #a71e03, #a71e03 25%, #fbbd00 25%, #fbbd00 75%, #a71e03 75%);
}

.masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
    color: #ad1519;
}

.masthead .navigation .nav-pills li a {
    color: #ced4de;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1316872428em;
    color: #ced4de;
    text-decoration: none;
    font-size: 16px;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
    background-color: transparent;
    text-underline-offset: 5px;
    color: #ddb109;
    font-weight: 600;
    transition-property: color, text-decoration, opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


/* Footer */
.site-footer {
    padding: 2em 0 2em;
    background-color: #122037;
    color: #d0d0d4;
}


/* Homepage */
.homepage .module-search .module-content .heading-layout2 {
    font-family: "Reem Kufi", sans-serif;
    font-size: 1em;
    clear: both;
    line-height: 1;
    color: #434353;
    font-size: 3em;
    font-weight: 500;
}