<div class="container mt-5">
    {% set results = h.bne_call_api(h.bne_get_params_api()) %}
    
    {% block bne_table_view %}
        {% snippet "bne/snippets/bne_table_view.html", results=results %}
    {% endblock %}

</div>
    {% set params = h.get_params() %}
    <div class="api-nav">
        {% if 'page' in params %}
            {% if params['page'] != '0' %}
                <input type="button" value="{{ _('<') }}" onclick="setParam({{'{page:'}}{{(params['page']|int-1)}}{{','}}{{'nentries:'}}{{nentries}}{{'}'}})">
            {% endif %}
            {% set start_counter = 0%}
            {% if params['page']|int > 5 %}
                {% set start_counter = params['page']|int-5%}
                <div>...</div>
            {% endif %}
            {% for i in range(start_counter,params['page']|int)%}
                <input type="button" value="{{i}}" onclick="setParam({{'{page:'}}{{i}}{{','}}{{'nentries:'}}{{nentries}}{{'}'}})">
            {% endfor %}
                <div class="current-page">{{params['page']}}</div>
            {%set next_pages = h.get_next_pages(params.page|int,nentries|int)%}
            {% for i in next_pages%}
                <input type="button" value="{{i}}" onclick="setParam({{'{page:'}}{{i}}{{','}}{{'nentries:'}}{{nentries}}{{'}'}})">
            {% endfor %}
            {% if next_pages|length == 3%}
                <div>...</div>
                {% set last_page = (nentries|int/h.get_number_entries_api())|round(0,'ceil')|int %}
                <input type="button" value="{{last_page}}" onclick="setParam({{'{page:'}}{{last_page}}{{','}}{{'nentries:'}}{{nentries}}{{'}'}})">
            {% endif%}
            
            {% if results['results']|length == h.get_number_entries_api() %}
                <input type="button" value="{{ _('>') }}" onclick="setParam('page',{{params['page']|int+1}}{{','}}{{'nentries:'}}{{nentries}}{{'}}'}})">
            {% endif %}
        {% endif %}
        {% if 'page' not in params %}
                <input type="button" value="{{ _('>') }}" onclick="setParam({{'{page:1,nentries:'}}{{nentries}}{{'}'}})">
        {% endif %} 
    </div>
</div>