<div class="bne-pills">
    <div class=pill-card onclick="location.href = '{{h.url_for('bne.base')}}'">
        <div class="pill-card-icon" style="background-color: #003164;">
            <i class="fa-solid fa-list"></i>         
        </div>  
        <a>{{_('web version')}}</a>
    </div>
    <div class=pill-card onclick="location.href = '{{h.url_for('bne.base')}}'">
        <div class="pill-card-icon" style="background-color: #003164;">
            <i class="fa-solid fa-cloud"></i>              
        </div>  
        <a>{{_('raw data')}}</a>
    </div>
</div>